{{ header }}
<div id="common-home" class="container">
    <div class="row">
        {{ column_left }}
        {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
        {% else %}
        {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}"> {{ content_top }}
            {{ content_bottom }} 
            <div class="row row-cus">
                <div class="col-lg-3 col-cus d-none d-lg-block">
                {% if categories %}
                    <ul class="menu-home">
                        {% for category in categories %}
                        {% if category.children %}
                        <li class="menu-item">
                            <a href="{{ category.href }}" class="menu-sub"><img src="{{ category.image }}" alt=""> {{ category.name }}</a>
                            <div class="menu-sub-group">
                                <div class="sub-group"> 
                                    {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                                    <ul class="list-sub">
                                        {% for child in children %}
                                        <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endfor %}
                                </div>
                                <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> 
                            </div>
                        </li>
                        {% else %}
                        <li class="menu-item"><a href="{{ category.href }}"><img src="{{ category.image }}" alt=""> {{ category.name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                </div>
                <div class="col-lg-6 col-cus">
                    <div id="demo" class="carousel slide" data-ride="carousel"> 
                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            {% if banners %}
                            {% for key, item in banners %}
                            <li data-target="#demo" data-slide-to="{{ key }}" class="{%if key == '0' %}active{% endif %}"></li>
                            {% endfor %}
                            {% endif %}
                        </ul>

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            {% if banners %}
                            {% for key, item in banners %}
                            <div class="carousel-item {% if key == '0' %}active{% endif %}"> 
                                {% if item.link %}
                                <a href="{{ item.link }}"><img src="{{ item.image }}" alt="{{ item.title }}" class="img-fluid"></a>
                                {% else %}
                                <img src="{{ item.image }}" alt="{{ item.title }}" class="img-fluid"> 
                                {% endif %}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>

                        <!-- Left and right controls --> 
                        <a class="carousel-control-prev" href="#demo" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <span class="carousel-control-next-icon"></span> </a> 
                    </div>
                </div>
                <div class="col-lg-3 col-cus">
                    <div class="box-shipping">
                        <div class="box-head text-center">
                            THÔNG TIN GIAO NHẬN
                        </div>
                        <div class="box-body">
                            <div class="box-content">
                                <h5>Giao hàng toàn quốc</h5>
                                <p>Freeship hóa đơn trên 300k</p>
                                <a href="#" class="btn btn-detail btn-sm">Chi tiết</a>
                                <img src="image/info_transport_1.png">
                            </div>
                            <div class="box-content">
                                <h5>Giao hàng kín đáo</h5>
                                <p>Freeship hóa đơn trên 300k</p>
                                <a href="#" class="btn btn-detail btn-sm">Chi tiết</a>
                                <img src="image/info_transport_2.png">
                            </div>
                            <div class="box-content">
                                <h5>Giao hàng trong 2 tiếng</h5>
                                <p>Freeship hóa đơn trên 300k</p>
                                <a href="#" class="btn btn-detail btn-sm">Chi tiết</a>
                                <img src="image/info_transport_3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer40"></div>
            <div class="row row-cus-5">
                <div class="col-12 col-cus-5">
                    <h4>THƯƠNG HIỆU</h4>
                </div>
                <div class="col-md-2 col-sm-4 col-cus-5">
                    <a href="#">
                        <div class="trademark">
                            <img src="image/vender_image_1.jpg" class="img-fluid" alt="">
                            <div class="spacer30"></div>
                            <p class="text-center">Shell</p>
                            <img src="image/vendor_icon_1.jpg" class="img-ab">
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-cus-5">
                    <a href="#">
                        <div class="trademark">
                            <img src="image/vender_image_2.jpg" class="img-fluid" alt="">
                            <div class="spacer30"></div>
                            <p class="text-center">Lexy</p>
                            <img src="image/vendor_icon_2.jpg" class="img-ab">
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-cus-5">
                    <a href="#">
                        <div class="trademark">
                            <img src="image/vender_image_3.jpg" class="img-fluid" alt="">
                            <div class="spacer30"></div>
                            <p class="text-center">Durex</p>
                            <img src="image/vendor_icon_3.jpg" class="img-ab">
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-cus-5">
                    <a href="#">
                        <div class="trademark">
                            <img src="image/vender_image_4.jpg" class="img-fluid" alt="">
                            <div class="spacer30"></div>
                            <p class="text-center">Passion</p>
                            <img src="image/vendor_icon_4.jpg" class="img-ab">
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-cus-5">
                    <a href="#">
                        <div class="trademark">
                            <img src="image/vender_image_5.jpg" class="img-fluid" alt="">
                            <div class="spacer30"></div>
                            <p class="text-center">Azodra</p>
                            <img src="image/vendor_icon_5.jpg" class="img-ab">
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-cus-5">
                    <a href="#">
                        <div class="trademark">
                            <img src="image/vender_image_5.jpg" class="img-fluid" alt="">
                            <div class="spacer30"></div>
                            <p class="text-center">Shell</p>
                            <img src="image/vendor_icon_5.jpg" class="img-ab">
                        </div>
                    </a>
                </div>
            </div>
            <div class="spacer30"></div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>Danh mục ngành hàng phổ biến</h4>
                </div>
                <div class="col-sm-12">
                    <div class="box-category">
                        <div class="category-item text-center">
                            <a href="#">    
                                <img src="image/img-cate-1_medium (1).jpg">
                                <p>Tên danh mục</p>
                            </a>
                        </div>
                        <div class="category-item text-center">
                            <a href="#">    
                                <img src="image/img-cate-1_medium (1).jpg">
                                <p>Tên danh mục</p>
                            </a>
                        </div>
                        <div class="category-item text-center">
                            <a href="#">    
                                <img src="image/img-cate-1_medium (1).jpg">
                                <p>Tên danh mục</p>
                            </a>
                        </div>
                        <div class="category-item text-center">
                            <a href="#">    
                                <img src="image/img-cate-1_medium (1).jpg">
                                <p>Tên danh mục</p>
                            </a>
                        </div>
                        <div class="category-item text-center">
                            <a href="#">    
                                <img src="image/img-cate-1_medium (1).jpg">
                                <p>Tên danh mục</p>
                            </a>
                        </div>
                        <div class="category-item text-center">
                            <a href="#">    
                                <img src="image/img-cate-1_medium (1).jpg">
                                <p>Tên danh mục</p>
                            </a>
                        </div>
                        <div class="category-item text-center">
                            <a href="#">    
                                <img src="image/img-cate-1_medium (1).jpg">
                                <p>Tên danh mục</p>
                            </a>
                        </div>
                        <div class="category-item text-center">
                            <a href="#">    
                                <img src="image/img-cate-1_medium (1).jpg">
                                <p>Tên danh mục</p>
                            </a>
                        </div>
                        <div class="category-item text-center">
                            <a href="#">    
                                <img src="image/img-cate-1_medium (1).jpg">
                                <p>Tên danh mục</p>
                            </a>
                        </div>
                        <div class="category-item text-center">
                            <a href="#">    
                                <img src="image/img-cate-1_medium (1).jpg">
                                <p>Tên danh mục</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer30"></div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Sản phẩm dành cho bạn</h4>
                </div>
                {% for product in products %}
                <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="{{ product.href }}">
                                <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid" />
                            </a>
                        </div>
                        <div>
                            <div class="caption">
                                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                <p>{{ product.description }}</p>
                                {% if product.price %}
                                <p class="price"> 
                                    {% if not product.special %}
                                    {{ product.price }}
                                    {% else %} 
                                    <span class="price-new">{{ product.special }}</span> 
                                    <span class="price-old">{{ product.price }}</span> {% endif %}
                                    {# {% if product.tax %} 
                                    <span class="price-tax">{{ text_tax }} {{ product.tax }}
                                    </span> 
                                    {% endif %} #} 
                                </p>
                                {% endif %}
                                {# {% if product.rating %}
                                <div class="rating"> {% for i in 1..5 %}
                                    {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>{% endif %}
                                    {% endfor %} 
                                </div>
                                {% endif %} #}
                            </div>
                            <div class="button-group" hidden="">
                                <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                                <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %} 
                <div class="col-12 text-center">
                    <a href="#" class="btn btn-success">Xem thêm</a>
                </div> 
            </div>
            <div class="spacer30"></div>
            <div class="row">
                <div class="col-12">
                    <div class="title-news">
                        <span>Tin tức - sự kiện</span>
                    </div>
                </div>
                <div class="spacer10"></div>
                {% if posts %}
                {% for key, post in posts %}
                {% if key == 0 %}
                <div class="col-md-6">
                    <div class="box-news">
                        <a href="{{ post.post.href }}">
                            <img src="{{ post.post.thumb }}" class="img-fluid" alt="{{ post.post.image_alt }}" title="{{ post.post.image_title }}">
                        </a>
                        <div class="spacer10"></div>
                        <a href="{{ post.post.href }}"><h5>{{ post.post.title }}</h5></a>
                        <p class="author"><a href="{{ post.post.author_link }}">{{ post.post.author }}</a> - <span>{{ post.post.date_published }}</span></p>
                        <p>{{ post.post.short_description }}</p>
                    </div>
                </div>
                {% else %}
                {% if key == 1 %}
                <div class="col-md-6">{% endif %}
                    <div class="row row-cus-10">
                        <div class="col-3 col-cus-10">
                            <a href="{{ post.post.href }}">
                                <img src="{{ post.post.thumb }}" class="img-fluid" alt="{{ post.post.image_alt }}" title="{{ post.post.image_title }}">
                            </a>
                        </div>
                        <div class="col-9 col-cus-10">
                            <a href="{{ post.post.href }}"><h5>{{ post.post.title }}</h5></a>
                            <p class="author"><a href="{{ post.post.author_link }}">{{ post.post.author }}</a> - <span>{{ post.post.date_published }}</span></p>
                            <p>{{ post.post.short_description }}</p>
                        </div>
                    </div>
                {% if key == limit_post - 1 %}
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {{ column_right }} 
    </div>
</div>
{{ footer }}