<div class="title-block" data-toggle="collapse" data-target="#list_category">
    {{heading_title_menu}}
    <span><i class="fa fa-angle-down"></i></span>
</div>
<div class="list-group collapse" id="list_category">
    <h3>{{heading_title_menu}}</h3>
    <ul>
    {% for category in categories %}
    {% if category.category_id == category_id %}
    <li><a href="{{ category.href }}" class="list-group-item active">{{ category.name }}</a></li>
    {% if category.children %}
    <ul class="child">
    {% for child in category.children %}
    {% if child.category_id == child_id %}
    <li><a href="{{ child.href }}" class="list-group-item active">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a></li>
    {% else %}
    <li><a href="{{ child.href }}" class="list-group-item">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a></li>
    {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
    {% else %} <li><a href="{{ category.href }}" class="list-group-item">{{ category.name }}</a></li>
    {% endif %}
    {% endfor %}
    </ul>
</div>